# ignore all the fles in .config
/*

!Pictures
!.local
!.config

.config/*

# excepte
!.config/bspwm
!.config/alacritty
!.config/mdp
!.config/ncmpcpp
!.config/zsh
!.config/nvim
!.config/ranger
!.config/ncmpcpp/config
!.config/neofetch
!.config/nitrogen
!.config/paru

# ignore all the files in the folder

!.github/
!.gitignore
!.zshrc
!.bashrc
!.xinitrc
!README.md

**.config/ranger/colorschemes/__pycache__
**.config/ranger/plugins/__pycache__
**.config/ranger/plugins/ranger-devicons/__pycache__
**.config/ranger/plugins/ranger-archives/__pycache__
**.config/nvim/plugin
**Pictures/ScreenShots
**.local/state
**.local/lib
**.local/share/iwctl
**.local/share/nvim
**.local/share/ranger
**.local/share/xorg
**.local/share/recently-used.xbel

